<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sep6backendv1.mapper.MovieMapper">

    <resultMap type="com.example.sep6backendv1.model.Movie" id="MovieResult">
        <id property="id" column="id" />
        <result property="year" column="year" />
        <result property="title" column="title" />
    </resultMap>

    <select id="selectMoviesByTitle" resultMap="MovieResult">
        select * from movies where title LIKE #{title}
    </select>

    <select id="getMovie" resultMap="MovieResult">
        select * from movies
    </select>

    <select id="selectMovie" resultType="com.example.sep6backendv1.model.Movie">
        select * from movies where id = #{id}
    </select>


    <select id="selectMovieByYear"  resultMap="MovieResult">
        select * from movies where year &lt; #{maxYear} and year &gt; #{minYear}
    </select>

    <select id="selectMoviesByDirector"  resultMap="MovieResult">
        select * from movies where id in (select movie_id from directors where person_id = #{person_id})
    </select>

    <select id="selectMoviesByStar"  resultMap="MovieResult">
        select * from movies where id in (select movie_id from stars where person_id = #{person_id})
    </select>

    <select id="selectRatingById"  resultType="double">
        select rating from ratings where movie_id = #{movie_id}
    </select>

    <select id="selectVotesById"  resultType="Integer">
        select votes from ratings where movie_id = #{movie_id}
    </select>

</mapper>