<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url"  value = "jdbc:mysql:///main_schema?cloudSqlInstance=sep6-v2:europe-west3:sep6v2sql&amp;socketFactory=com.google.cloud.sql.mysql.SocketFactory&amp;user=root&amp;password=sep6" />
<!--                <property name="username" value="root" />-->
<!--                <property name="password" value="root" />-->
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/MovieMapper.xml" />
        <mapper resource="mappers/PeopleMapper.xml" />
        <mapper resource="mappers/UserMapper.xml" />

    </mappers>
</configuration>